.subscribe_form
  = form_tag subscribers_path do
    .form-group
      = text_field_tag 'subscriber[email]', nil, placeholder: t('subscribers.form_placeholder'), class: 'form-control input-lg'
    .form-group
      = submit_tag t('subscribers.form_title'), class: 'btn btn-default'
