%p
  Здравствуйте, #{ @subscriber.email }!
%p Вы можете подтвердить вашу подписку по ссылке:
%p= link_to 'Подтвердить остановку подписки', unsubscribe_url(@subscriber.email.to_the_encrypted)
%p ArtElectronics
